.square {
  background: #fff;
  border: 6px double #999;
  float: left;
  font-size: 6rem;
  font-weight: bold;
  line-height: 7rem;
  height: 10rem;
  width: 10rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

@media only screen and (max-width: 770px) {
  .square {
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    line-height: 4rem;
  }
}

@media only screen and (max-width: 450px) {
  .square {
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    line-height: 2rem;
  }
}

.square:focus {
  outline: none;
}
